# Python

### Introduction

In [23]:
print("Its Your Md")

Its Your Md

In [3]:
student = "Md Raiesh"

In [4]:
student

'Md Raiesh'

In [6]:
student = "Its your Md"

In [7]:
student

'Its your Md'

In [1]:
a1 = 10
a1

10

In [2]:
type(a1)

int

In [3]:
a1 = 3.14
a1
type(a1)

float

In [4]:
md = 3+4j
md

(3+4j)

In [6]:
type(md)

complex

In [5]:
# is used For the purpose of comment
a = True
b = False
a & b

False

In [7]:
a | b

True

In [8]:
my_string = "Its your Md"
my_string[0]

'I'

In [9]:
my_string[-2]

'M'

In [10]:
my_string[3:9]

' your '

In [11]:
len(my_string)

11

In [12]:
my_string.lower()

'its your md'

In [13]:
my_string.upper()

'ITS YOUR MD'

In [14]:
my_string.replace('your','my')

'Its my Md'

In [15]:
new_string = "Hello,Hello,World"
new_string.count("Hello")

2

In [16]:
s1 = 'We are in NIT Agartala'
s1.find('NIT')

10

In [17]:
fruit = "I like apples, mangoes, bananas "
fruit.split(',')

['I like apples', ' mangoes', ' bananas ']

In [18]:
md = "I don't like coding, I avoid it but coding is ccompulsory so I can't avoid it."
md.split('t')

["I don'",
 ' like coding, I avoid i',
 ' bu',
 " coding is ccompulsory so I can'",
 ' avoid i',
 '.']

In [19]:
tuple = (1,True,3,14,5,-8)
tuple

(1, True, 3, 14, 5, -8)

In [20]:
tuple[0]

1

In [22]:
tuple[1:3]

(True, 3)

In [23]:
tuple[3] = "Md Raiesh"

TypeError: 'tuple' object does not support item assignment

In [24]:
len(tuple)

6

In [25]:
tuple1 = (1,3,7)
tuple2 = (2,4,9)
tuple1+tuple2

(1, 3, 7, 2, 4, 9)

In [26]:
tuple1,tuple2

((1, 3, 7), (2, 4, 9))

In [27]:
tuple1*4

(1, 3, 7, 1, 3, 7, 1, 3, 7, 1, 3, 7)

In [28]:
tuple1*3 + tuple2*4

(1, 3, 7, 1, 3, 7, 1, 3, 7, 2, 4, 9, 2, 4, 9, 2, 4, 9, 2, 4, 9)

In [4]:
tuple1 = (1,3,7)
tuple2 = (2,4,9)
min(tuple1)
max(tuple2)

9

In [5]:
list1 = [1,"Md Raiesh", 3, 14, True]
list1

[1, 'Md Raiesh', 3, 14, True]

In [6]:
type(list1)

list

In [7]:
list1 = [1,"Md Raiesh", 3, 14, True]
list1[0] = 100

In [8]:
list1

[100, 'Md Raiesh', 3, 14, True]

In [9]:
list1.append("NITA")

In [10]:
list1

[100, 'Md Raiesh', 3, 14, True, 'NITA']

In [11]:
list1 = [1,"Md Raiesh", 3, 14, True]
list1.pop()
list1

[1, 'Md Raiesh', 3, 14]

In [12]:
l1 = [2,"b",9,"F",7,"m"]
l1.reverse()
l1

['m', 7, 'F', 9, 'b', 2]

In [13]:
l1.insert(5,"Mechanical")
l1

['m', 7, 'F', 9, 'b', 'Mechanical', 2]

In [14]:
l1 = ["Mango","Grapes","Banana","Apple"]
l1.sort()
l1

['Apple', 'Banana', 'Grapes', 'Mango']

In [2]:
l1 = ["Mango","Grapes","Banana","Apple"]
l2 = ['a',"b",7,98.65]
l1*3+l2

['Mango',
 'Grapes',
 'Banana',
 'Apple',
 'Mango',
 'Grapes',
 'Banana',
 'Apple',
 'Mango',
 'Grapes',
 'Banana',
 'Apple',
 'a',
 'b',
 7,
 98.65]

### Dictionary

In [3]:
# Dictionary is an unordered collection of key value pairs enclosed with {}
# Dictionary is mutable

In [4]:
Dic = {"Fruit":50, "Mango":40, "Banana":60}
Dic

{'Fruit': 50, 'Mango': 40, 'Banana': 60}

In [5]:
type(Dic)

dict

In [6]:
Dic.keys()

dict_keys(['Fruit', 'Mango', 'Banana'])

In [7]:
Dic.values()

dict_values([50, 40, 60])

In [8]:
Dic["Guava"] = 80
Dic

{'Fruit': 50, 'Mango': 40, 'Banana': 60, 'Guava': 80}

In [11]:
Dic = {"Fruit":50, "Mango":40, "Banana":60, "Guava":80}
Dic["Fruit"] = 90
Dic

{'Fruit': 90, 'Mango': 40, 'Banana': 60, 'Guava': 80}

In [15]:
fruit1 = {"Mango":45, "Banana":69, "Guava":78}
fruit2 = {"Orange":83, "Grapes":89, "Apple":49}
fruit1.update(fruit2)
fruit1

{'Mango': 45,
 'Banana': 69,
 'Guava': 78,
 'Orange': 83,
 'Grapes': 89,
 'Apple': 49}

In [17]:
fruit1 = {"Mango":45, "Banana":69, "Guava":78}
fruit1.pop("Guava")
fruit1

{'Mango': 45, 'Banana': 69}

In [18]:
# Set
# Set is an unordered unindexed collection of elements enclosed with {}
# Duplicates are not allowed in sets

In [19]:
set1 = {1,7,78,"Sparta"}
set1

{1, 7, 78, 'Sparta'}

In [20]:
set1 = {1,7.78,1,"Sparta",7.78,"Sparta"}

In [21]:
set1

{1, 7.78, 'Sparta'}

In [22]:
set1.add("MD")
set1

{1, 7.78, 'MD', 'Sparta'}

In [23]:
set1.update([10,5.76,"Raiesh"])
set1

{1, 10, 5.76, 7.78, 'MD', 'Raiesh', 'Sparta'}

In [25]:
set1.remove("MD")
set1

{1, 10, 5.76, 7.78, 'Raiesh', 'Sparta'}

In [26]:
s1 = {1,3,6,8,5}
s2 = {2,4,8,6,3}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8}

In [27]:
s1.intersection(s2)

{3, 6, 8}

In [4]:
'''
Pseudo code for if else..........

if(condition)
{
    statements to be executed..........
}
else
{
    statements to be executed.......... 
}
'''

'\nPseudo code for if else..........\n\nif(condition)\n{\n    statements to be executed..........\n}\nelse\n{\n    statements to be executed.......... \n}\n'

In [5]:
a = 10
b = 20
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [6]:
a = 10
b = 20
c = 30
if (a>b) & (a>c):
    print("a is greatest")
elif (b>a) & (b>c):
    print("b is greatest")
else:
    print("c is greatest")

c is greatest

### if with tuple

In [8]:
tup1 = ("a","b","c")

In [10]:
if "x" in tup1:
    print("x is in tup1")
else:
    print("x is not present in the tup1")

x is not present in the tup1

### if with list

In [13]:
l1 = ["a","b","c"]
if l1[1] == "b":
    l1[1] = "z"
l1

['a', 'z', 'c']

In [6]:
# if with dictionary

d1 = {'k1':10,'k2':20,'k3':30}
if d1['k3']==30:
    d1['k3']=d1['k3']+100
d1

{'k1': 10, 'k2': 20, 'k3': 130}

In [17]:
# Looping Statements
# Looping statements are used to repeat a task multiple times

In [3]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [8]:
i = 1
n = 2
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [10]:
# while with list

l1 =[1,2,3,4,5,6]
i=0
while i<len(l1):
    l1[i]=l1[i]+2
    i=i+1
l1

[3, 4, 5, 6, 7, 8]

In [11]:
# For loop is used to iterate over a sequence (tuple, list, dictionary)

In [12]:
l1 = ["apples","grapes","banana","orange"]
for i in l1:
    print(i)

apples
grapes
banana
orange

In [13]:
l1 = ['Orange','black','white']
l2 = ['chair','book','laptop']
for i in l1:
    for j in l2:
        print(i,j)

Orange chair
Orange book
Orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

In [14]:
# Functions

# Functions is a block of code which performs specific task

In [15]:
def md():
    print("Tum dhokhebaaz ho bsdk")

In [16]:
md()

Tum dhokhebaaz ho bsdk

In [22]:
def add_10(x):
    return x+10

In [23]:
add_10(20)

30

In [24]:
def odd_even(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x, "is odd")

In [25]:
odd_even(79)

79 is odd

In [26]:
# Lambda function

g = lambda x: x*x*x*x

In [27]:
g(2)

16

In [28]:
# Lambda with filter

l1 = [18,98,56,45,23,56]
list1 = list(filter(lambda x: (x%2!=0),l1))
list1

[45, 23]

In [30]:
# Lambda with map

l1 = [18,98,56,45,23,56]
list1 = list(map(lambda x: x*2,l1))
list1

[36, 196, 112, 90, 46, 112]

In [31]:
from functools import reduce

In [33]:
# Lambda with reduce

l1 = [1,2,3,4,5,6]
sum = reduce(lambda x,y: x+y,l1)
sum

21

In [1]:
# Object oriented programming (OOPS)


# Classes 
# Class is a template/blue-print for real world entities

In [3]:
class phone:
    def make_call(self):
        print("Making phone call")
        
    def play_game(self):
        print("Playing Game")

In [4]:
cl = phone()

In [5]:
cl.make_call()

Making phone call

In [6]:
cl.play_game()

Playing Game

In [1]:
class Phone:
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("Making phone call")
        
    def play_game(self):
        print("Playing Game")

In [2]:
p2 = Phone()
p2.set_color("blue")
p2.set_cost(5000)
p2.show_color()
p2.show_cost()

5000

In [3]:
p2.show_color()

'blue'

In [5]:
p2.play_game()

Playing Game

In [6]:
# init method acts as a constructor
class Employee:
    def __init__(self,name,age,gender,salary):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        
    def employee_details(self):
        print("Name of employee is", self.name)
        print("Age of employee is", self.age)
        print("Gender of employee is", self.gender)
        print("Salary of employee is", self.salary)

In [8]:
e1 = Employee('raiesh',20,'Male',100000,)
e1.employee_details()

Name of employee is raiesh
Age of employee is 20
Gender of employee is Male
Salary of employee is 100000

In [9]:
# Inheritance in python
# With inheritance one class can derive the properties of another class

In [10]:
class vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_details(self):
        print("It's a vehicle")
        print("Mileage of vehicle is ", self.mileage)
        print("Cost of vehicle is", self.cost)
    
v1 = vehicle(500,100000)
v1.show_details()

It's a vehicle
Mileage of vehicle is  500
Cost of vehicle is 100000

In [13]:
class car(vehicle):
    def show_car(self):
        print("It's a car")
c1 = car(200,50000)
c1.show_details()

It's a vehicle
Mileage of vehicle is  200
Cost of vehicle is 50000

In [14]:
c1.show_car()

It's a car

In [5]:
class vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_details(self):
        print("It's a vehicle")
        print("Mileage of vehicle is ", self.mileage)
        print("Cost of vehicle is", self.cost)
    

class car(vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_car_details(self):
        print("Its a car")
        print("Numbeer of tyres are ",self.tyres)
        print("Value of horse power is ",self.hp)
        
c1 = car(20,12000,5,400)
c1.show_car_details()

Its a car
Numbeer of tyres are  5
Value of horse power is  400

In [8]:
# Types of Inheritance 

# 1. Single Inheritance 
# 2. Multiple Inheritance 
# 3. Multilevel Inheritance 
# 4. Hybrid Inheritance

In [7]:
# Multiple Inheritance
# In multiple inheritance the child class inherits from more than one parent class

In [9]:
class parent1():
    def assign_string_one(self,str1):
        self.str1 = str1       
    def show_string_one(self):
        return self.str1
    
class parent2():
    def assign_string_two(self,str2):
        self.str2 = str2
    def show_string_two(self):
        return self.str2
    
class derived(parent1,parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
    def show_string_three(self):
        return self.str3

In [10]:
d1 = derived()
d1.assign_string_one("one")
d1.assign_string_two("two")
d1.assign_string_three("three")

In [11]:
d1.show_string_one()

'one'

In [12]:
d1.show_string_two()

'two'

In [13]:
d1.show_string_three()

'three'

In [14]:
# Multi-level inheritance
# In multilevel inheritance, we have parent, child, grand-child relationship
# Parent -> child -> grand-child

In [15]:
class parent():
    def assign_name(self,name):
        self.name = name
    def show_name(self):
        return self.name
    
class child(parent):
    def assign_age(self,age):
        self.age = age
    def show_age(self):
        return self.age
    
class grandchild(child):
    def assign_gender(self,gender):
        self.gender = gender
        
    def show_gender(self):
        return self.gender

In [16]:
gc = grandchild()
gc.assign_name("Raiesh")
gc.assign_age(20)
gc.assign_gender("Male")

In [17]:
gc.show_name()

'Raiesh'

In [19]:
gc.show_age()

20

In [22]:
gc.show_gender()

'Male'

# Analyzed by


ùêåùêù ùêëùêöùê¢ùêûùê¨ùê°,
Enrollment number : ùüèùüóùêîùêåùêÑùüèùüèùüî,
Registration number : ùüèùüóùüèùüèùüëùüíùüì,
B Tech,7ùê≠ùê° semester,Section : ùêÄ,
Mechanical Engineering Department,
National Institute of Technology Agartala, Tripura 799046,